services:

  web:
    image: python:3.11-slim
    container_name: django_web
    working_dir: /app
    volumes:
      - ./app:/app
    command: tail -f /dev/null
    depends_on:
      - db
    env_file:
      - .env

  db:
    image: postgres:15-alpine
    container_name: postgres_db
    environment:
      POSTGRES_DB: sid_db
      POSTGRES_USER: sid_user
      POSTGRES_PASSWORD: sid_pass
    volumes:
      - postgres_data:/var/lib/postgresql/data

  mongo:
    image: mongo:7
    container_name: mongo_db
    volumes:
      - mongo_data:/data/db

volumes:
  postgres_data:
  mongo_data:
